<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

    <add name="ConectionStringHealthLinkSeven_CTB" connectionString="Data Source=192.168.0.6\sql2012;Initial Catalog=HealthLinkSeven_CTB;User ID=hl7;Password=hl7IS@1" providerName="System.Data.SqlClient"/>
    <!--<add name="ConectionStringPMS_NZ" connectionString="Data Source=43.255.160.192;Initial Catalog=PMS_NZ;User ID=pms_nz;Password=pms@@nz" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>

    <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
